---
import BaseLayout from './BaseLayout.astro';
import Container from '@/components/Container.astro';
import { formatDate } from '@/utils/formatDate';

interface Props {
  title: string;
  description: string;
  pubDate: Date;
  updatedDate?: Date;
  author: string;
  tags: string[];
  image?: {
    src: string;
    alt: string;
  };
  headings: { depth: number; slug: string; text: string }[];
  rawContent: string;
}

const { 
  title, 
  description, 
  pubDate, 
  updatedDate, 
  author, 
  tags, 
  image,
  headings,
  rawContent
} = Astro.props;
---

<BaseLayout title={title} description={description} image={image?.src}>
  <Container className="mt-16 lg:mt-32">
    <div class="xl:relative">
      <div class="mx-auto max-w-2xl">
        <article>
          <header class="flex flex-col">
            <time
              dateTime={pubDate.toISOString()}
              class="order-first flex items-center text-base text-zinc-400 dark:text-zinc-500"
            >
              <span class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500" />
              <span class="ml-3">{formatDate(pubDate)}</span>
            </time>
            <h1 class="mt-6 text-4xl font-bold tracking-tight text-zinc-800 sm:text-5xl dark:text-zinc-100">
              {title}
            </h1>
            {description && (
              <p class="mt-6 text-base text-zinc-600 dark:text-zinc-400">
                {description}
              </p>
            )}
          </header>
          <div class="prose prose-lg dark:prose-invert mt-8">
            <slot />
          </div>
        </article>
      </div>
    </div>
  </Container>
</BaseLayout>
